# Базовые настройки
SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=*

# Настройки Zoomos API
ZOOMOS_API_URL=https://api.zoomos.by/v1/
ZOOMOS_API_KEY=your_real_zoomos_api_key

# Настройки почты (для отправки заказов)
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@yandex.ru
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=your_email@yandex.ru
